@import url('https://fonts.googleapis.com/css?family=Muli:600');
.MMM-Nascar {
   position:absolute;
   bottom:0;
   width:100%;
   height:30px;   /* Height of the footer */
}
.MMM-Nascar .header {
	text-align: center;
}
.MMM-Nascar .title {
	text-align: center;
}
.MMM-Nascar .content {
  width: 100%;
  background-position: 11px 0;
  background-repeat: no-repeat;
  color: #fe0127;
}
.MMM-Nascar .wrapper {
	text-align: justify
}
.MMM-Nascar th {
	color: #A1E9F8;
	font-family: Muli;
}
.MMM-Nascar td {
	font-weight: bold;
	font-family: Muli;
}
